* {
    font-family: 'Poppins', sans-serif;

}

body {
    height: 100vh;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s all ease-in;   
    font-weight: bold;
    color: aliceblue;
}

h1 {
    font-size: 2em;
}

button {
    font-size: 1em;
    padding: 5px 10px;        
}

button:active {
    font-weight: bold;
}

#colorName {
    width: 200px;
    background-color: aliceblue;
    color: slategray;
    padding: 5px;
}

a {
    color: aliceblue;
}